.carrito {
  font-size: 1.5rem;
}
.carrito:hover {
  color: aqua;
}

.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  line-height: 17px;
  color: azure;
}

.qty-display:hover {
  color: aqua;
}
