* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Electrolize", sans-serif;
    }

    .wrapper {
    background-image: url(./img/costilla2.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: auto;
    max-height: auto;
    }
